* {
    
}

body {
    background-color: #ebe6db;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    padding: 10% 20%;
    margin-left: 10%;
    margin-right: 10% ;
}

.title {
    justify-content: center;
}

h1 {
    font-family: 'Segoe UI', sans-serif;
    font-size: 25px;
    font-weight: bold  ;
    color: #3e3228;
}

h2 {
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #3e3228;
    padding: 10px 10px;
    
}

p {

    font-family: 'Segoe UI', sans-serif;
    font-size: 15px;
    font-weight: 100  ;
    color: #3e3228;

}

#opentext {
    margin: 5% 0%;
}

#addBookstitle {
    background-color: #dcccc0 ;
    align-items: center;
    height:50px;
    margin-bottom:30px;
    border-radius: 25px 25px 0px 0px;

}

#formAll {
    background-color: #f4f0eb;
    padding-bottom: 5% ;
    border-radius: 25px 25px 0px 0px;
}

#formBody {
    padding-left: 5%;

    
}

#bookTitle {
    width: 50%;
    height: 30px;
    font-size: 12px;
}

#bookAuthor {
    width: 50%;
    height: 30px;
    font-size: 12px;
}

#bookYear {
    width: 50%;
    height: 30px;
    font-size: 12px;
}

.labelText {
    font-size: 12px;
    font-family: ;
    font-weight: 500;
    margin-bottom:5px;
}

.submitBtn {
    margin-left: 5%;
    background-color: #3e3228; ;
    border-radius: 5px;
    border: none;
    color:#f4f0eb;
    font-size:;
    font-weight: bolder;
    padding: 10px;
    margin-top:15px;
    margin-bottom: 15px;
}

.submitBtn:hover {

    background-color: #c2a084; ;
    color:#423627;
    border: none;

}

.bookStock {
    width: 100%;
    background-color: #f4f0eb ;
}

.bookStockTable {
    width:100%;

}

.thead {
    background-color: #dcccc0;
    color: #624e35;
    font-size: 15px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    height: 45px;
    text-align: left;
    border-bottom: 1px solid #cbc2b3;
}

.tableFirstColumn {
    padding-left: 15px;
}

th, td {
    height: 40px;
    text-align: left;
    border-bottom: 1px solid #cbc2b3;
}

td {
    font-size: 13px;
}

tbody:hover {
    background-color: #d4dbe8;
}
